.headerContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContent {
  margin: 0 10px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft {
  display: flex;
}
.logoImage {
  margin: 15px 0;
}
.searchBox {
  margin: 15px 40px;
  width: 450px;
  height: 40px;
  background-color: #f2f2f3;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.searchBox input {
  border-style: none;
  background-color: #f2f2f3;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.searchBox input:focus {
  outline: none;
  box-shadow: none;
}
.headerRight {
  display: flex;
  gap: 40px;
}
.button {
  width: 63px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #111322;
  cursor: pointer;
}
