name: lint & build check

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.6'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: ESLint Check
        run: npm run lint

      - name: Stylelint Check
        run: npm run stylelint

      - name: Build React
        run: npm run build --profile
